[run]
# source = mystic
include =
    */mystic/*
    */cache/*
    */models/*
    */mystic/math/*
omit = 
    */tests/*
    */info.py
    */_scipyoptimize.py
    */_scipy060optimize.py
    */_signal.py
    */scripts.py
    */support.py
    */munge.py
    # _signal: can't test the signal handler
    # scripts: can't test? ...unless return mpl object
    # support: can't test? ...unless return mpl object
    # munge: can't test? ...unless create dummy files
branch = true
# timid = true
# parallel = true # and need to 'combine' data files
# concurrency = multiprocessing # thread
# data_file = $TRAVIS_BUILD_DIR/.coverage
# debug = trace

[paths]
source =
    mystic
    cache
    models
    mystic/math
    */site-packages/mystic*/mystic
    */site-packages/mystic*/mystic/cache
    */site-packages/mystic*/mystic/math
    */site-packages/mystic*/mystic/models

[report]
include =
    */mystic/*
    */cache/*
    */models/*
    */mystic/math/*
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
# show_missing = true
ignore_errors = true
# pragma: no branch
# noqa
