[run]
# source = mystic
include =
    */mystic/*
    */models/*
    */_math/*
    */math/*
omit = 
    */tests/*
    */info.py
    */_scipyoptimize.py
    */_scipy060optimize.py
    */_signal.py # can't test the signal handler
    */scripts.py # can't test? ...unless return mpl object
    */support.py # can't test? ...unless return mpl object
    */munge.py # can't test? ...unless create dummy files
# timid = true
# parallel = true # and need to 'combine' data files
# concurrency = multiprocessing # thread
data_file = $TRAVIS_BUILD_DIR/.coverage


[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
# show_missing = true
ignore_errors = true
